<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>repl.it</title>
    <link href="index.css" rel="stylesheet" type="text/css" />

    
    <style>
    
    
    * {
    box-sizing: border-box;
    }

/* Create three equal columns that floats next to each other */
    .column {
    float: center;
    width: 60.33%;
    padding: 80px;
    height: 500px; /* Should be removed. Only for demonstration */
    }

/* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
</style>
  </head>
  <body>
    <div class="column">
      <div class="row">
    <h1>About Us</h1>

      <br>
        <img src="http://i68.tinypic.com/2qd4w12.png">
          <br>
          <br>   
          <p>Major Key was created to address the problem of female underrepresentation in the music industry. In a 2017 Billboard study, 83.2% of artists were men and only 16.8% were women. Besides artists, we also need to take into account the behind the scenes: producers, sound engineers, etc. In the same study, out of 651 producers, 98% were male and only 2% female. This issue is beyond just the general music scene, it spans to booking music festivals and award shows. 
               
      <br>
      <br>
      Major Key’s approach to solving this issue is to start with the listener. By encouraging listeners to support female artists, we can start bridging the gender gap in music. We want to support the female community and also empower young females to pursue careers in music. 
      <br><br>
</p>
      </div>
      </div>

  </body>
</html>