<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <link href="index.css" rel="stylesheet" type="text/css" />
  </head>
    <style>
    * {
    box-sizing: border-box;
    }

/* Create three equal columns that floats next to each other */
    .column {
    float: center;
    width: 60.33%;
    padding: 80px;
    height: 500px; /* Should be removed. Only for demonstration */
    }

/* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
</style>

  
   <body>
    <div class="column">
      <div class="row">
    <h1>Artist</h1>

      <br>
          <br>
          <br>   
          <p><b>genre:</b> pop
               
      <br>
      <br>
      Major Key’s approach to solving this issue is to start with the listener. By encouraging listeners to support female artists, we can start bridging the gender gap in music. We want to support the female community and also empower young females to pursue careers in music. 
      <br><br>
</p>
      </div>
      </div>

  </body>
</html>
