<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>repl.it</title>
    <link href="index.css" rel="stylesheet" type="text/css" />

    <style>
    h2{
      color: white;
    }
    * {
    box-sizing: border-box;
    }

/* Create three equal columns that floats next to each other */
  .column {
    float: left;
    width: 33.33%;
    padding: 80px;
    height: 500px; /* Should be removed. Only for demonstration */
  }

/* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  </style>
</head>

  <body>
   
    <div class="row">
      <div class="column">
     <h1>Developers</h1>
     
     <br><br>
    <img src="http://i66.tinypic.com/106n3he.jpg" height="150">
    <br>
    <br>
    <h2>Chris</h2>
    <p>Chris is a senior at Princeton High School. She loves music and plays flute and piano! She is in her school’s jazz band. Her interests and passions include traveling, everything STEM, dogs,and kungfu. She is the president of an all girls club called SiSTEM. </p>
  </div>
  <div class="column">
    <br><br><br><br>
    <img src="http://i63.tinypic.com/apgpwk.jpg" height="150">
    <br>
    <br>
    <h2>Sophia</h2>
    <p>Sophia is a sophomore studying packaging engineering at Rutgers University. She is a radio DJ on 90.3 The Core and enjoys all things music. In her free time, she likes running, going to concerts, and playing with her dog.</p>
  </div>
  <div class="column">
    <br><br><br><br>
    <img src="http://i67.tinypic.com/t6uz6f.jpg" height="150">
    <br>
    <br>
    <h2>Gracie</h2>
    <p>Gracie is a junior at Livingston High School. She loves writing, and is the editor-in-chief of Soliloquie Magazine. She's passionate about all STEM subjects, and hopes to pursue computer science in the future.</p>
  </div>
</div>
  </body>
</html>